.menu-page{	
	&--chic{
		@include menu-look(chic);
		.menu-card {
			h2{
				@include gradient-color($resto-color-chic);
			}
			&--color1{
				color: $color-menu-chic-1;
			}
			&--color2{
				color: $color-menu-chic-2;
			}
			&--color3{
				color: $color-menu-chic-3;
			}
		}
	}
}