.all-menus{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3em;
	grid-row-gap: 3em;
	grid-auto-rows: 500px;
	padding: 3em 12em 3em 12em;
	@include mobile-only{
		grid-template-columns: 1fr;
		grid-auto-rows: 300px;
		padding: 3em;
	};
	@include mobile-only(tablet){
		padding: 3em;
	};
	article{
		box-shadow: 0px 0px 10px grey;
		a{
			display: block;
			width: 100%;
			height: 100%;
			.menu{				
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				&--{
					@include menu-look-home($menu-color);
				}
				& > div{
					transition: transform 400ms ease-in-out, opacity 300ms 100ms;
					&:hover{
						transform: scale(1.1);
						opacity: 0.7;
					}
				}
				& > h2{
					padding: 0 1em 0 1em;
					margin: 0em auto 0em auto;
					color: black;
					text-align: center;
				}
				& > h3{
					text-align: center;
				}
				& > img{
					margin: 0 auto 0.5em auto;
					width: 4em;
					height: 4em;
				}
			}
		}
	}
}