/*mixin for mobile only and tablet*/
@mixin mobile-only($device: mobile){
	@media all and (max-width: map-get($breakpoints, $device)){
		@content;
	}
}
/*main look - header and footer and soon*/
@mixin main-look($font-size: initial, $text-align: center){
	background-color: $main-bg;
	color: $main-font;
	font: $font-size $main-ff;
	text-align: $text-align;
}
/*look of each menus in home page - colors and font size*/
@mixin menu-look-home($map){
	@each $key, $value in $map{
		&#{$key}{
			background-color: map-get($value, bg);
			h2{
				font: map-get($value, ff-resto);
				border: 1px solid map-get($value, bg); /*fix the problem of grandient bg when hover (border visible)*/
				background: map-get($value, gradient-bg-color);
				background-color: transparent; /*if gradient text not supported*/
				-webkit-background-clip: text;
				-webkit-text-fill-color: map-get($value, gradient-fill-color);
				@include mobile-only{
					font-size: $mob-resto-font-size;
				}
			}
			h3{
				font: map-get($value, ff-menu);
				color: map-get($value, menu-color);
				@include mobile-only{
					font-size: $mob-menu-font-size;
				}
			}
		}
	}
}
/*look of each menus for their own page*/
@mixin menu-look($resto){
	$map: map-get($menu-color, $resto);
	.menu-card{
		background-color: map-get($map, bg);
		h2{
			font: map-get($map, ff-resto);
		}
		h3{
			font: bold map-get($map, ff-menu);
		}
		p{
			font: map-get($map, ff-menu);
		}
	}
}
/*gradient color for resto name for each menu card*/
@mixin gradient-color($resto-color){
	background: $resto-color;
	background-color: transparent; /*if gradient text not supported*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}