@keyframes wiggle{
	1% {
		transform: translateX(-3%);
	}
	3%{
		transform: translateX(3%);
	}
	5% {
		transform: translateX(-3%);
	}
	7%{
		transform: translateX(3%);
	}
	8%, 100%{
		transform: translateX(0%);
	}
}

footer{
	@include main-look(1.4em);
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	@include mobile-only{
		font-size: 1em;
				}
	p{
		animation: wiggle 3000ms infinite;
		padding: 0.7em;
		margin: 0;
	}
}